.wrapper {
  display: flex;
}

.side_bar {
  width: 300px;
}

.side-bar-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room {
  font-size: 10px;
}

.create-room a {
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.rooms {
  background-color: #2f3e51;
  height: calc( 100vh - 100px );
  padding: 0 20px;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.chat {
  width: calc( 100vw - 300px );
}

.chat-header {
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #fafafa;
  height: calc( 100vh - 190px );
  padding: 46px 40px 0;
}

.form {
  background-color: #ddd;
  height: 90px;
  padding: 20px 40px;
}