.wrapper {
  display: flex;
}

.side_bar {
  width: 300px;
}

.side-bar-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
}

.rooms {
  background-color: #2f3e51;
  height: calc( 100vh - 100px );
  padding: 0 20px;
}

.chat {
  width: calc( 100vw - 300px );
}

.chat-header {
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #fafafa;
  height: calc( 100vh - 190px );
  padding: 46px 40px 0;
}

.form {
  background-color: #ddd;
  height: 90px;
  padding: 20px 40px;
}